{% extends "michoacan/home.html" %} Quienes Somos{% block titulo %}Bienvenida{% endblock %}


{% block contenido %} 

<br> <br>  
<br> <br> 
<h3> Quienes somos <h3>

<br> <br> 
<p>



   
  <h3>  Bienvenidos a Craft Mich "Tienda de Artesanias de Michoacancan"</h3>
   
   <h5>En Craft Mich, nos enorgullecemos de ser una ventana al vibrante mundo de las artesanías de Michoacán. 
   Desde nuestras raíces en el corazón de este hermoso estado, 
   hemos dedicado nuestra pasión y esfuerzo a preservar y promover las tradiciones artesanales que han pasado de generación en generacion.
   </h5>
   
   <br> <br>  
<br> <br> 
   
  <h3> Nuestra Misión<h3>
   
   <h5>Nuestra misión es celebrar y compartir la rica herencia cultural de Michoacán,
     ofreciendo piezas únicas que reflejan la creatividad, el talento y el espíritu de nuestros artesanos locales. 
     Cada artículo en nuestra tienda es una obra de arte, cuidadosamente elaborada con técnicas ancestrales y materiales autóctonos,
      asegurando la más alta calidad y autenticidad </h5> 


 


{% endblock%}
