{% extends "michoacan/home.html" %} {% block titulo%}Carrusel {% endblock %}
{%block contenido%}

<div class="section">
  <div class="container">
    <div class="row justify-content-between">
      <div class="col-lg-7">
        <div class="img-property-slide-wrap">
          <div class="img-property-slide">
            <img
              src="../static/base/images/palma.jpg"
              alt="Image"
              class="img-fluid"
            />
            <img
              src="../static/base/images/plato.jpg"
              alt="Image"
              class="img-fluid"
            />
            <img
              src="../static/base/images/cobre.jpg"
              alt="Image"
              class="img-fluid"
            />
          </div>
        </div>
      </div>
      <div class="col-lg-4">
        <h2 class="heading text-primary">5232 California Ave. 21BC</h2>
        <p class="meta">California, United States</p>
        <p class="text-black-50">
          Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ratione
          laborum quo quos omnis sed magnam id, ducimus saepe, debitis error
          earum, iste dicta odio est sint dolorem magni animi tenetur.
        </p>
        <p class="text-black-50">
          Perferendis eligendi reprehenderit, assumenda molestias nisi eius iste
          reiciendis porro tenetur in, repudiandae amet libero. Doloremque,
          reprehenderit cupiditate error laudantium qui, esse quam debitis, eum
          cumque perferendis, illum harum expedita.
        </p>
      </div>
    </div>
  </div>
</div>
{% endblock %}
